.todo-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
}

.todo-item {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: flex;
  font-size: 14px;
  min-height: 48px;
}

.btn-check,
.btn-uncheck,
.btn-delete {
  width: 40px;
  height: 40px;
  margin-top: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.btn-check:focus,
.btn-uncheck:focus,
.btn-delete:focus {
  outline-color: var(--primary);
}

.btn-uncheck {
  fill: #A2B8CC;
}

.btn-check {
  fill: var(--primary);
}

.btn-delete {
  fill: #75808B;
}

.todo-item.checked {
    background-color: #E1E1E1;
    color: #A2B8CC;
    text-decoration:line-through
}

.todo-item p {
  flex-grow: 1; /* El texto ocupa el espacio disponible */
  padding: 16px 0px;
}


