.empty-container {
  width: 100%;
  height: calc(100vh - 224px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #75808B;
}

.empty-svg-illustration {
    fill: #e5e5e5;
}

.empty-container h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 18px;
}

@media (min-width: 431px) {
    .empty-container {
        height: auto;
        padding: 24px 0px;
    }
}