h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #75808b;
}

h2 {
    font-weight: bold;
    font-size: 12px;
    color: var(--primary);
    height: 16px;
}

.header-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}